<div class="row justify-content-center animated fadeIn" *ngIf="room">
  <div class="col-md-4">
    <form (ngSubmit)="upsert()" #form="ngForm" class="shadow-sm border rounded p-3 m-2">
      <div class="form-group">
        <label for="number">Number</label>
        <input type="number" class="form-control" id="number" placeholder="Enter number" required
                name="number" #number="ngModel" [(ngModel)]="room.number">
      </div>
      <div class="form-group">
        <label for="cost">Cost</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">$</span>
          </div>
          <input type="number" class="form-control" id="cost" placeholder="Enter cost" required
                  name="cost" #cost="ngModel" [(ngModel)]="room.cost" />
        </div>
      </div>
      <div class="form-group my-3" *ngFor="let bed of room.beds; let idx = index">
        <app-select-room (bedSelected)="bedSelected($event, idx)" [bedId]=bed.id></app-select-room>
        <button type="button" class="btn btn-sm btn-block btn-danger" (click)="deleteBed(idx)">
          <fa-icon [icon]="faTrash"></fa-icon></button>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-outline-info btn-block" (click)='addBed()'>
          <fa-icon [icon]="faBed"></fa-icon> Add a Bed</button>
      </div>
      <div *ngFor="let photo of room.roomPhotos; let idx = index" class="mb-3">
          <img src="{{photo.url}}" *ngIf="photo.url" class="img-fluid img-thumbnail">
          <app-upload *ngIf="!photo.url" [path]="'rooms/'" (photoUrl)="photoSelected($event, idx)"></app-upload>
          <button type="button" class="btn btn-sm btn-block btn-danger" (click)="deletePhoto(idx)">
            <fa-icon [icon]="faTrash"></fa-icon></button>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-outline-info btn-block" (click)='addPhoto()'>
          <fa-icon [icon]="faCameraRetro"></fa-icon> Add a photo</button>
      </div>
      <button type="submit" class="btn btn-success btn-block" [disabled]="form.invalid">
        <fa-icon [icon]="faSave"></fa-icon> Save</button>
      <button type="button" class="btn btn-secondary btn-block" [routerLink]="['/admin/rooms']">
        <fa-icon [icon]="faBackspace"></fa-icon> Cancel</button>
    </form>
  </div>
</div>
